{% if data.playerId != 0 %}
    <tr>
        <td class="player">{{ data.playerName }}</td>
        <td class="god"><img class="godImage" src="SRC/IMG/gods_icons/{{ data.nameGod }}.jpg" alt="{{ data.nameGod }}" /></td>
        <td class="account">{{ data.accountLevel }}</td>
        <td class="rank">{{ data.masteryLevel }}</td>
        <td class="godrank"><img class="masteryLevel" src="SRC/IMG/masteryLvl/m{{ data.rank }}.jpg" alt="level {{ data.rank }}" /></td>
        <td class="kda">{{ data.kda }}</td>
        <td class="conquest leagueWrapper">{{ data.conquest.name }}<img src="SRC/IMG/masteryLvl/m{{ data.conquest.num }}.jpg" alt="{{ data.conquest.num }}" /></td>
        <td class="joust leagueWrapper">{{ data.joust.name }}<img src="SRC/IMG/masteryLvl/m{{ data.joust.num }}.jpg" alt="{{ data.joust.num }}" /></td>
        <td class="duel leagueWrapper">{{ data.j1c1.name }}<img src="SRC/IMG/masteryLvl/m{{ data.j1c1.num }}.jpg" alt="{{ data.j1c1.num }}" /></td>
    </tr>
{% else %}
    <tr>
        <td class="player">Player profile hidden</td>
        <td class="god"><img class="godImage" src="SRC/IMG/gods_icons/{{ data.nameGod }}.jpg" alt="{{ data.nameGod }}" /></td>
        <td class="account">{{ data.accountLevel }}</td>
        <td class="rank">{{ data.masteryLevel }}</td>
        <td class="godrank">Player profile hidden</td>
        <td class="kda">Player profile hidden</td>
        <td class="conquest leagueWrapper">Player profile hidden</td>
        <td class="joust leagueWrapper">Player profile hidden</td>
        <td class="duel leagueWrapper">Player profile hidden</td>
    </tr>
{% endif %}